In [1]:
import pandas as pd
import numpy as np
import ODElib
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("../data/treatmentsedited.csv")

In [5]:
data

,treatments,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,id,organism,control,time,abundance,logscale,treatment,algalHost
1,Steenhauer2016,V,FALSE,9.85E-03,7504123.969,TRUE,Replete,Cylindrospermopsis raciborskii
2,Steenhauer2016,V,FALSE,16.0339,4993441.887,TRUE,Replete,Cylindrospermopsis raciborskii
3,Steenhauer2016,V,FALSE,19.9987,5140436.516,TRUE,Replete,Cylindrospermopsis raciborskii
4,Steenhauer2016,V,FALSE,24.0796,13283117.06,TRUE,Replete,Cylindrospermopsis raciborskii
...,...,...,...,...,...,...,...,...
1816,Maat4D,V,FALSE,24.0251,67726000,FALSE,plus lysate,Micromonas Pusilla
1817,Maat4D,V,FALSE,29.9998,74348000,FALSE,plus lysate,Micromonas Pusilla
1818,Maat4D,V,FALSE,36.0152,89097000,FALSE,plus lysate,Micromonas Pusilla
1819,Maat4D,V,FALSE,48.0031,102240000,FALSE,plus lysate,Micromonas Pusilla
1820,Maat4D,V,FALSE,72.0153,119700000,FALSE,plus lysate,Micromonas Pusilla